
<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<center>

<style type = "text/css">

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.fa {
  font-size: 20pt;
  vertical-align: middle;
  color: #FFFFFF;
  text-decoration: none;
}

.fa:hover {
  color: #FFFFFF;
}

.fa-pencil-square-o {
  padding-top: 3px;
}

table
{
border-collapse:collapse;
}

table,th, td
{

padding: 5px;
text-align: center;

}

.description{
  text-align: left;
}

tr {
  background-color: #aeaeae;
  border: 4px solid white;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li {
  vertical-align: middle;
}

h4, a:link, a:visited, a:hover{
  display: inline;
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none !important;
}

h4:link {
  color: #FFFFFF;
}

</style>

<body>
<table>
  <tr class="table_header">
    <td width="162px"><h4>thumbnail</h4></td>
    <td width="100px"><h4>name</h4></td>
    <td width="300px" class="description"><h4>description</h4></td>
    <td width="75px"></td>
  </tr>
  <tbody id="artworks" data-update-url="<% sort_artworks_url %>">
    <% @artworks.each do |artwork| %>
      <%= content_tag_for :tr, artwork do %>
        <td width="162px"><%= filepicker_image_tag artwork.filepicker_url, w: 160, h: 160, fit: 'clip' %></td>
        <td width="100px"><%= artwork.name  %></td>
        <td width="300px" class="description"> <%= artwork.description %></td>
        <td width="75px"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_artwork_path(artwork) %> <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, artwork_path(artwork), method: :delete %></h4></td>
      <% end %>
    <% end %>
  </tbody>
  <tr>
  <td><h4><%= link_to "new artwork", new_artwork_path(@artwork) %></h4></td></tr>
</table>


</body>
</center>
