<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<%= filepicker_js_include_tag %>


<% if @exhibition.errors.any? %>
  <tr>
    <td>
      <h2>There were errors saving your exhibition</h2>
      <ul>
        <% @exhibition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>

<tbody>

  <%= simple_form_for @exhibition do |f| %>
    <tr><td>
      <%= f.text_field :name, :placeholder => "Name" %>
    </tr></td>
    <tr><td>
      <%= f.input :starts_at, as: :date, :placeholder => "Starts At" %>
    </tr></td>
    <tr><td>
      <%= f.input :ends_at, as: :date, :placeholder => "Ends At" %>
    </tr></td>    
    <tr><td>    
      <%= f.text_field :location, :placeholder => "Location" %>
    </tr></td>
    <tr><td>    
      <%= f.text_field :link, :placeholder => "Link" %>
    </tr></td>

    <tr>
      <td>    
        <%= f.submit %>
      </td>
    </tr>
  <% end %>
</tbody>
