

<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<%= javascript_include_tag "jquery-photo-resize" %>


<style type = "text/css">

body {
  display: block;
  margin: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: hidden;
  background-color: #aeaeae;
}

table {
  border-spacing: 0px !important;
}

tr {
}

td {
  padding: 0px;
  border-spacing: 0px !important;
  margin: 0px; 
  vertical-align: top;
}

.overlay {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#status { 
  position: fixed;
  z-index: 2; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 3px;
  padding-left: 5px;
  display: none;
}

#caption {
  z-index: 1;
  color: #575757;
  position: fixed;
  border-top: 3px solid #575757;
  bottom: -27px;
  background-color: #FFF;
  margin-bottom: 3px;
  opacity: 0;
}

#inner {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  padding: 3px;
  padding-left: 7px;
  white-space:pre;
}

#topMask {
  z-index: 1;
  position: fixed;
  top: -3;
  height: 3px;
  width: 100%;
  background-color: #575757;;
  margin-bottom: 3px;
}



#statement, #contact {
}

h4, a:link, a:visited, a:hover, a:active {
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 1em;
  line-height: 1em;
  margin: 0;

  text-decoration: none !important;
}

h5, a:link, a:visited, a:hover, a:active {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 2px;
  color: #FFF;
  display: inline;
}

h6, a:link, a:visited, a:hover, a:active {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 2px;
  color: #000;
  display: inline;
}

#lightbox {
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

</style>

<body>

  <div id="status"><h6><a href="#statement">statement</a> | <a href="#contact">contact</a></h6></div>
    <div class="overlay">
      <table width="100%" height="100%">
        <tr>
          <% @artworks.each do |artwork| %>
          <% @artwork_position = artwork.position %>
            <td><div id="<%= artwork.position %>" style="z-index:-4"></a><%= link_to(filepicker_image_tag(artwork.filepicker_url, h: 1200, fit: "clip"), lightbox_artworks_path(artwork), remote: true, method: :get) %></div></td>
          <% end %>
          <td style="vertical-align:middle"><div id="statement">
            <%= render 'statement' %>
          </div></td>
          <td style="vertical-align:middle"><div id="contact">
            <%= render 'contact' %>
          </div></td>
      </tr>
    </table>
  </div>
  <div id="lightbox"></div>
  <div id="caption"> 
    <div id="inner">
      <%= render "caption" %>
    </div>
  </div>
  <div id="topMask"></div>

<script>
$(function() {
    $('#status a').bind('click',function(event){
        var $anchor = $(this);
        var $overlay = $('.overlay');
        var scrollLeft = $overlay.scrollLeft() + $($anchor.attr('href')).offset().left;
        /*
        if you want to use one of the easing effects:
        $('html, body').stop().animate({
            scrollLeft: $($anchor.attr('href')).offset().left
        }, 1500,'easeInOutExpo');
         */
        $('.overlay').stop().animate({
            scrollLeft: scrollLeft
        }, 1000);

        event.preventDefault();
    });
});


</script>

<%= javascript_include_tag "hidebar" %>