

<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<%= javascript_include_tag "jquery-photo-resize" %>

<style type = "text/css">

table {
  border-spacing: 0px !important;
}

body {
  display: block;
  margin: 0px;
  overflow: hidden;
  background-color: #aeaeae;
}

td {
  padding: 0px;
  border-spacing: 0px !important;
  margin: 0px; 
}

.overlay {
  display: block;
/*  width: 1000%;*/
  position: static;
  overflow-x: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.status { 
  position: fixed; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 3px;
  padding-left: 5px;
  color: white;
  display: none;
}

#statement, #contact {
  display: inline-block;
  top: 0;
  color: white;
  background-color: #aeaeae;
  height: 99%;
  width: 1200px;
}

h4, a:link, a:visited, a:hover{
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none !important;
}

h6, a:link, a:visited, a:hover {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  display: inline;
}

</style>

<body>
<div class="status"><a href="#statement"><h6>statement</a> | <a href="#contact"></h6>contact</a></span></div>
  <div class="overlay">
    <table width="100%" height="100%">
      <tr>
          <% @artworks.each do |artwork| %>
            <td><div id="<%= artwork.position %>"></a><%= filepicker_image_tag artwork.filepicker_url, fit: "clip" %></div></td>
          <% end %>
          <td><div id="statement">
            <%= render 'statement' %>
          </div></td>
          <td><div id="contact">
            <%= render 'contact' %>
          </div></td>
      </tr>
    </table>
  </div>
</body>

<script type="text/javascript" charset="utf-8">
  $(window).ready(function() {
    $("img").photoResize({
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
  var oldScrollTop = $('.overlay').scrollTop();
  var oldScrollLeft = $('.overlay').scrollLeft();

  $('.overlay').scroll(function () { 
    if(oldScrollTop == $('.overlay').scrollTop()) {
        $('.status').fadeIn();
    }
    oldScrollTop = $('.overlay').scrollTop();
    oldScrollLeft = $('.overlay').scrollLeft();
  });
});
</script>

<script>
$(document).ready(function() {
  $("#statement").width($(window).width());
  $("#contact").width($(window).width());
});
</script>

<script>

$(function() {
    $('.status a').bind('click',function(event){
        var $anchor = $(this);
        /*
        if you want to use one of the easing effects:
        $('html, body').stop().animate({
            scrollLeft: $($anchor.attr('href')).offset().left
        }, 1500,'easeInOutExpo');
         */
        $('.overlay').stop().animate({
            scrollLeft: $($anchor.attr('.overlay')).position().left
        }, 1000);
        event.preventDefault();
    });
});
</script>